<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} -- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>

	<!-- File Appender -->


	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<File name="File" fileName="logs/log4j2-demo.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</File>

		<!-- Rolling File Appender -->
		<RollingFile name="FileAppender"
			fileName="logs/log4j2-rolling.log"
			filePattern="logs/log4j2-rolling-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
<!-- 				<SizeBasedTriggeringPolicy size="10MB" /> -->
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.app" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<!--<AppenderRef ref="File" /> -->
			<!-- <AppenderRef ref="FileAppender"/> -->
		</Logger>

		<Logger name="org.springframework.core" level="info"
			additivity="false">
			<!-- <AppenderRef ref="Console" /> -->
			<!--<AppenderRef ref="File" /> -->
			<AppenderRef ref="FileAppender"/>
		</Logger>

		<Root level="info">
			<AppenderRef ref="Console" />
<!-- 			<AppenderRef ref="File" /> -->
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>


</Configuration>